/* TaskForm.css */

form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: auto;
}

input {
  margin-bottom: 10px;
}
button {
  margin-bottom: 10px;
  background-color: rgb(151, 170, 164);
  border: none;
  outline: none;
  padding: 5px;
}
